packages:
  yum:
    jq: []  # Install jq (JSON parser) to extract secrets from Secrets Manager response

container_commands:
  01_fetch_secrets:
    command: |
      # Fetch the secret from Secrets Manager
      SECRET_JSON=$(aws secretsmanager get-secret-value --secret-id rds!db-35ff1f07-c714-47c6-911f-675b04f9a0dd --query SecretString --output text)

      # Extract secrets and export as environment variables
      echo "export SPRING_DATASOURCE_PASSWORD=$(echo $SECRET_JSON | jq -r '.password')" >> /etc/profile.d/eb_secrets.sh
      # Make the script executable
      chmod +x /etc/profile.d/eb_secrets.sh

      # Source the script to apply variables immediately
      source /etc/profile.d/eb_secrets.sh
    leader_only: true  # Run only on the "leader" instance (avoids redundant calls)